.container{
  margin: 5px 0
}

.authorSection{
  font-size: 12px;
  font-family: Poppins;
}

.commentTile{
  font-size: 14px;
  font-family: Poppins;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  width: max-content;
}

.authorCommentTile{
  font-size: 14px;
  color: #fff;
  font-family: Poppins;
  background-color: #1976d2;
  border-radius: 10px;
  padding: 5px;
  width: max-content;
}