.container{
  position: relative;
  margin: 30px auto; 
  width: 800px;
}

.pageTitle{
  font-size: 50px;
  font-family: PoppinsBold;
  color: rgb(73, 73, 73);
  margin: 40px 0;
  text-align: center;
}

.textField{
  background-color: #fff;
  border-radius: 5px;
}