.container{
  position: relative;
  margin: 30px auto; 
  width: 800px;
}

.loginTitle{
  text-align: center;
  font-size: 36px;
  font-family: PoppinsSemiBold;
  padding: 20px;
  
}

.textField{
  background-color: #fff;
  border-radius: 5px;
}