.container{
  position: relative;
  margin: 30px auto; 
  width: 500px;
}

.registerTitle{
  font-size: 50px;
  font-family: PoppinsBold;
  color: rgb(73, 73, 73);
  margin: 40px 0;
  text-align: center;
}

.textField{
  background-color: #fff;
  border-radius: 5px;
  :hover {
    cursor: pointer;
  }
}

.datePicker{
  background-color: #fff;
  border-radius: 5px;
  :hover {
    cursor: pointer;
  }
  margin: 16px 0 8px 18px !important;
}