@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins-Regular.ttf) format('truetype');
  font-display: block;
}

@font-face {
  font-family: PoppinsBold;
  src: url(/fonts/Poppins-Bold.ttf) format('truetype');
  font-display: block;
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url(/fonts/Poppins-SemiBold.ttf) format('truetype');
  font-display: block;
}